@{
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Default");
    }

    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Modificar Correos";
    
    String IdFacturas = "";
    
    
}

<div class="page-header"><h1>Descargar Zip </h1></div>

<div class="row">
    <div class="col-md-12" style="overflow-x: auto;">
        @if (IsPost)
        {
            IdFacturas = Request.Form["IdFactura"];
            CrearZip Zip = new CrearZip();
            String Respuesta = Zip.Crea(IdFacturas);

            if (Respuesta.Split(',')[0] == "1")
            {
                Response.Redirect(@"\EnvioFacturas\Zip\" + Respuesta.Split(',')[1] + ".zip");
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    <strong>Ha Ocurrido Un Error</strong> @Respuesta.Split(',')[1]
                </div>
            }
        }
    </div>
</div>